 <!-- Social Media Section -->
<!-- <div class="mb-2 social-links">
  <div class="social-media-section">
    <a href="https://www.facebook.com" target="_blank" class="social-icon">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="https://www.twitter.com" target="_blank" class="social-icon">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="https://www.instagram.com" target="_blank" class="social-icon">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="https://www.linkedin.com" target="_blank" class="social-icon">
      <i class="fab fa-linkedin-in"></i>
    </a>
  </div>
</div> -->

<header class="header glass-nav">
  <div class="container">
    <nav class="nav">
      <div class="logo">
        <span class="logo-text">Effin</span>
        <span class="logo-accent">sorxe</span>
      </div>
      <ul class="nav-links">
        <li><a routerLink="/" class="nav-link" (click)="scrollToAbout('home')">Home</a></li>
        <li><a routerLink="/about" class="nav-link" (click)="scrollToAbout('about')">About Us</a></li>
        <li><a routerLink="/services" class="nav-link" (click)="scrollToAbout('services')">Offerings</a></li>
        <li><a routerLink="/industries" class="nav-link" (click)="scrollToAbout('industries')">Industries</a></li>
        <li><a routerLink="/careers" class="nav-link">Careers</a></li>
        <li><a routerLink="/resources" class="nav-link">Resources</a></li>
        <li><a routerLink="/contact" class="btn btn-primary">Contact Us</a></li>
      </ul>
    </nav>
  </div>
</header>
