<section class="stack-area-wrapper">
  <div class="stack-area" #stackArea>
    <div class="left">
      <div class="title">About Us</div>
      <div class="sub-title">
        At Effinsorxe, we are dedicated to providing world-class IT staffing,
        recruitment, and technology solutions. We help businesses scale and
        succeed with the right talent and innovative solutions.
        <br />
        <button class="btn btn-primary">
          <span class="button-text">See More Details</span>
          <span class="button-icon">&nbsp;&nbsp;ⓘ</span>
        </button>
      </div>
    </div>
    <div class="right">
      <div class="card">
        <div class="sub"><p>Excellence 🏆</p></div>
        <div class="content">Commitment to delivering top-quality services</div>
      </div>
      <div class="card">
        <div class="sub"><p>Integrity ⚖</p></div>
        <div class="content">Transparent and ethical business practices</div>
      </div>
      <div class="card">
        <div class="sub"><p>Innovation 🚀</p></div>
        <div class="content">Harnessing technology to drive success</div>
      </div>
      <div class="card">
        <div class="sub"><p>Collaboration 🤝</p></div>
        <div class="content">Partnering with clients to achieve goals</div>
      </div>
    </div>
  </div>
</section>
